body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient( to bottom,#d7efff, #a6d6f7)
}
.login-container {
    background-image: linear-gradient(#72C5E0,white,#72C5E0,white,#72C5E0);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 300px;
    font-size: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    margin-left: -14px;
    border: 2px solid #ccc;
    border-radius: 11px;
    
}
.btn {
    width: 70%;
    padding: 10px;
    background: #2d89ef;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}
.btn:hover {
    background: #2060c0;
}
.links {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}
.links a {
    color: #2d89ef;
    text-decoration: solid;
    margin: auto;
    text-align: center;
    
}

.links a:hover {
    text-decoration: underline;
    margin-left: auto;
    
}

.forgot-password {
    display: flex;
    margin-top: 5px;
    margin-left: auto;
    padding: 0%;
    font-size: 14px;
    color: #2d89ef;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;

    
}

.forgot-password:hover {
    text-decoration: underline;
}
